#chart
  %br
  Result:
  = @result

  %br
  - case @result[:graph_type]
    - when 'line_chart'
      = line_chart @result[:data].map{|i| i.to_a.flatten}, discrete: true, curve: false#, library: { stepSize: 1 }
    - when 'curve_line_chart'
      = line_chart @result[:data].map{|i| i.to_a.flatten}, discrete: true
    - when 'pie_chart'
      = pie_chart @result[:data].map{|i| i.to_a.flatten}, discrete: true
    - when 'column_chart'
      = column_chart @result[:data].map{|i| i.to_a.flatten}, discrete: true
    - when 'bar_chart'
      = bar_chart @result[:data].map{|i| i.to_a.flatten}, discrete: true
    - when 'area_chart'
      = area_chart @result[:data].map{|i| i.to_a.flatten}
    - when 'scatter_chart'
      = scatter_chart @result[:data].map{|i| i.to_a.flatten}
    - when 'geo_chart'
      = geo_chart @result[:data]
    - when 'timeline_chart'
      = timeline @result[:data]
    - when 'multiple_series'
      = line_chart @result[:data]
