.col-md-8.col-md-offset-2.text-center
  %h1.text-center
    Trending
  %h3
    %i{ class: "fa #{icon_for('like')}" }
    %i{ class: "fa #{icon_for('wow')}" }
    %i{ class: "fa #{icon_for('love')}" }
    %i{ class: "fa #{icon_for('sad')}" }
    %i{ class: "fa #{icon_for('angry')}" }
    %i{ class: "fa #{icon_for('haha')}" }

  %ul
  - posts_max_reactions.each do |post|
    %li
      = truncate(post.message, length: 150)
      = link_to '(more info)', post_path(post)

  .text-muted
    with
    = pluralize(posts_max_reactions.first&.reactions&.count, 'reaction')

.row
  .col-xs-12.col-md-4.col-md-offset-4
    %hr.bold
    %br
