.row
  .col-md-12
    %h1.text-center
      Trending
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize

.row
  - posts_reactions = posts_max_reactions(kind)

  - posts_reactions.each do |post|
    %div{ class: "col-md-#{12/posts_reactions.length} text-center" }
      .fa.fa-star
      = truncate(post.message, length: 150)
      = link_to '(more info)', post_path(post)
  .col-md-12
    .text-muted.text-center
      with
      = pluralize(posts_max_reactions(kind).first&.reactions&.sum(:count), 'reaction')

    .text-center
      %br
      = link_to "All #{kind.pluralize}", posts_path(kind: kind), class: 'btn btn-success'
  .col-md-4.col-md-offset-4
    %hr.bold

.row
  .col-md-8.col-md-offset-2.text-center
    %h1.text-center
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
      Reactions

    %h3
      %i{ class: "fa #{icon_for('like')}" }
      %i{ class: "fa #{icon_for('wow')}" }
      %i{ class: "fa #{icon_for('love')}" }
      %i{ class: "fa #{icon_for('sad')}" }
      %i{ class: "fa #{icon_for('angry')}" }
      %i{ class: "fa #{icon_for('haha')}" }
.row
  .col-md-12
    = render partial: 'trending_chart', locals: { kind: kind }

.row
  .col-md-12
    %h1
      Your
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
      with the most reactions
  - posts_max_reaction = posts_per_max_reaction(kind)

  - posts_max_reaction.each do |reaction, info|
    %div{ class: "col-md-#{12/posts_max_reaction.count}" }
      %h2
        %i{ class: "fa #{icon_for(reaction)}" }
        = reaction
      .text-muted
        from
        = pluralize(info[:count], 'person')

      - posts = info[:posts]
      %ul
        - posts.each do |post|
          %li
            = truncate(post.message, length: 150)
            = link_to '(more info)', post_path(post)
