.row
  .col-xs-12.col-sm-12.col-md-12
    .page-header
      %h2.text-center
        = @page_title
        Facebook Page
.row
  .col-xs-12.col-sm-12.col-md-12
    %h3 General Stats
    %dl.dl-horizontal#general-stats
      %dt Fans:
      %dd= @page_fans_count
.row
  .col-md-12
    -# = link_to 'Register webhooks', "https://graph.facebook.com/v2.11/#{@page_id}/subscribed_apps?access_token=#{@access_token}", method: :post
    .btn-group
      = link_to 'Refresh posts', facebook_data_path(object: 'posts'), class: 'btn btn-warning'
      = link_to 'Refresh events', facebook_data_path(object: 'events'), class: 'btn btn-warning'
      = link_to 'Refresh all data', facebook_data_path(), class: 'btn btn-warning'

    .btn-group.pull-right
      = link_to 'Refresh Page Stats', '#', class: 'btn btn-primary'
    %hr

.row
  .col-md-12
    %div{ role: 'tabpanel' }
      #tabs.nav-center
        %ul.text-center.nav.nav-tabs{ role: 'tablist' }

          %li.active{ role: 'presentation' }
            %a{ href: '#trending', 'aria-controls': 'trending-posts', 'data-toggle': 'tab', role: 'tab' } Trending Content

          %li{ role: 'presentation' }
            %a{ href: '#content-stats', 'aria-controls': 'content-stats', 'data-toggle': 'tab', role: 'tab' } Your Content

          %li{ role: 'presentation' }
            %a{ href: '#overall_statistics', 'aria-controls': 'trending-posts', 'data-toggle': 'tab', role: 'tab' } Activity

          %li{ role: 'presentation' }
            %a{ href: '#overall_statistics', 'aria-controls': 'trending-posts', 'data-toggle': 'tab', role: 'tab' } Reactions

      .tab-content
        .tab-pane.active#content-stats{ role: 'tabpanel'}
          = render partial: 'content_stats'
        .tab-pane.active#trending{ role: 'tabpanel'}
          = render partial: 'trending'
        .tab-pane#overall_statistics{ role: 'tabpanel'}
          = render partial: 'posting_statistics'
        .tab-pane#overall_statistics{ role: 'tabpanel'}
          = render partial: 'reaction_statistics'

.row
  %hr.bold

  = semantic_form_for '', url: make_graph_path do |f|
    .col-md-4
      = f.label 'Select variable x'
      = f.input 'x_axis', collection: YAML::load(ENV['analytics_options']).keys, label: false, include_blank: 'Make a selection'
    .col-md-4
      = f.label 'Select variable y'
      = f.input 'y_axis', collection: [], label: false, include_blank: 'Make a selection'
    .col-md-4
      = f.input 'graph_type', collection: YAML::load(ENV['graph_types']), include_blank: 'Make a selection'
    .col-md-4
      = f.label 'From'
      = f.input 'from', as: :string, label: false, input_html: { id: 'datepicker-graph-from' }, hint: '(Optional) Limit the results to only include data from this date on.'
    .col-md-4
      = f.label 'To'
      = f.input 'to', as: :string, label: false, input_html: { id: 'datepicker-graph-to' }, hint: '(Optional) Limit the results to only include data to this date.'
    .col-md-4
      = f.label 'Period'
      = f.input 'period', label: false, collection: YAML::load(ENV['period_options']).map{ |period| [period, period.parameterize.underscore, data: find_date(period) ]}, include_blank: 'Make a selection'
    .col-md-12
      = f.submit 'Make Graph!', class: 'btn btn-primary'

    .col-md-12
      = render partial: 'shared/graph'

:javascript
  $(document).ready(function() {
    $('select#period').change(function(){
      // Set from, to values to last 3-month period
      var selected_period = $('select#period option:selected');
      var from = selected_period.data('from');
      var to = selected_period.data('to');

      $('#datepicker-graph-from').val(from);
      $('#datepicker-graph-to').val(to);
      // change the dataset to only include objects posted_at within this period
      // redraw chart

      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (y_axis != '' && graph_type !='') {
        $.ajax({
          type: 'POST',
          url: '/make_graph',
          data: { graph_type: graph_type,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to},
          dataType: 'script'
        });
      }
    });

    $('select#x_axis').change( function() {
      var key = $('#x_axis option:selected').val();

      if(key == 'all') {
        $('select#graph_type').val('multiple_series')
      }

      $.ajax({
        type: 'GET',
        url: '/values_for_analytics_option',
        data: { key: key },
        dataType: 'script'
      });
    });

    $('select#graph_type').change( function() {
      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (x_axis != '' && y_axis !='') {
        var from = $('#datetimepicker-graph-from').val();
        var to = $('#datetimepicker-graph-to').val();
        $.ajax({
          type: 'POST',
          url: '/make_graph',
          data: { graph_type: graph_type,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });

    $('select#x_axis').change( function() {
      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (y_axis != '' && graph_type !='') {
        var from = $('#datetimepicker-graph-from').val();
        var to = $('#datetimepicker-graph-to').val();
        $.ajax({
          type: 'POST',
          url: '/make_graph',
          data: { graph_type: graph_type,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });

    $('select#y_axis').change( function() {
      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (x_axis != '' && graph_type !='') {
        var from = $('#datetimepicker-graph-from').val();
        var to = $('#datetimepicker-graph-to').val();
        $.ajax({
          type: 'POST',
          url: '/make_graph',
          data: { graph_type: graph_type,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });
  });
