.row
  .col-md-12
    .page-header
      %h2.text-center
        = @page_title
        Facebook Page
.row
  .col-md-12
    %h3 General Stats
    %dl.dl-horizontal#general-stats
      %dt Fans:
      %dd= @page_fans_count
.row
  .col-md-12
    = render partial: 'graph'

  = semantic_form_for '', url: make_graph_path do |f|
    .col-md-4
      = f.label 'Select variable x'
      = f.input 'x_axis', collection: [], label: false
    .col-md-4
      = f.label 'Select variable y'
      = f.input 'y_axis', collection: [], label: false
    .col-md-4
      = f.input 'graph_type', collection: YAML::load(ENV['graph_types'])
    .col-md-12
      = f.submit 'Make Graph!', class: 'btn btn-primary'

:javascript
  $(document).ready(function() {
    $('select#graph_type').change( function() {
      console.log('in graph type change func');
      var url = "#{make_graph_path}";
      // var x_axis = $('#x_axis option:selected');
      // var y_axis = $('#y_axis option:selected');
      var graph_type = $('#graph_type option:selected').val();
      console.log(url);

      $.ajax({
        type: 'POST',
        url: '/make_graph',
        data: { graph_type: graph_type },
        dataType: 'script'
      });
    });
  });
