- data = posts_reactions_graph_data(@page)

.row
  .col-md-6.col-md-offset-3
    - data[:simple][:data].each do |reaction, count|
      .col-xs-3.col-md-2.text-center
        %b= reaction.to_s.capitalize
        %p
          %i{ class: "fas #{icon_for(reaction.to_s)}", title: reaction.to_s.capitalize }
          = count

.row
  .col-md-6
    = column_chart data[:multiple], id: 'content-all-column-chart', colors: graph_color_set(data[:multiple].count)
  .col-md-6
    = pie_chart data[:simple][:data], adapter: 'google', colors: graph_color_set(data[:simple][:data].count), id: 'content-all-pie-chart'

.row
  - posts_per_max_reaction.each do |reaction, info|
    %div{ class: "col-md-#{12/posts_per_max_reaction.count}" }
      %h2
        %i{ class: "fas #{icon_for(reaction)}" }
        = reaction
      .text-muted
        from
        = pluralize(info[:count], 'person')

      - posts = info[:posts]
      %ul
        - posts.each do |post|
          %li
            = truncate(post.message, length: 150)
            = link_to '(more info)', page_post_path(post.page.object_id, post)
