.row
  .col-md-6.col-md-offset-3
    = render partial: 'home/reactions'

= render partial: 'shared/content_graphs', locals: { data: @trending_graph_data[:all], kind: 'all' }

.row
  - posts_per_max_reaction.each do |reaction, info|
    %div{ class: "col-md-#{12/posts_per_max_reaction.count}" }
      %h2
        %i{ class: "fas #{icon_for(reaction)}" }
        = reaction
      .text-muted
        from
        = pluralize(info[:count], 'person')

      - posts = info[:posts]
      %ul
        - posts.each do |post|
          %li.word-break
            = word_wrap(truncate(post.message, length: 150)) if post.message
            = link_to '(more info)', page_post_path(post.page.object_id, post)
