.row
  .col-md-8.col-md-offset-2.text-center
    %h1.text-center
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
      Reactions
    = render partial: 'shared/reactions', locals: { kind: kind }

= render partial: 'shared/content_graphs', locals: { data: @trending_graph_data[kind.to_sym], kind: kind }

.row
  .col-md-4.col-md-offset-4
    %hr.bold
.row
  .col-md-12.text-center
    %h1
      Your
      = kind
      posts with the most reactions
  %br
  = render partial: 'shared/posts_list', locals: { posts_max_reaction: posts_per_max_reaction(kind) }
