.row
  .col-md-8.col-md-offset-2.text-center
    %h1.text-center
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
      Reactions

    %h3
      %i{ class: "fa #{icon_for('like')}" }
      %i{ class: "fa #{icon_for('wow')}" }
      %i{ class: "fa #{icon_for('love')}" }
      %i{ class: "fa #{icon_for('sad')}" }
      %i{ class: "fa #{icon_for('angry')}" }
      %i{ class: "fa #{icon_for('haha')}" }
.row
  .col-md-12
    = render partial: 'trending_chart', locals: { kind: kind, category: 'content' }

.row
  .col-md-12
    %h1
      Your
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
      with the most reactions
  - posts_max_reaction = posts_per_max_reaction(kind)

  - posts_max_reaction.each do |reaction, info|
    %div{ class: "col-md-#{12/posts_max_reaction.count}" }
      %h2
        %i{ class: "fa #{icon_for(reaction)}" }
        = reaction
      .text-muted
        from
        = pluralize(info[:count], 'person')

      - posts = info[:posts]
      %ul
        - posts.each do |post|
          %li
            = truncate(post.message, length: 150)
            = link_to '(more info)', page_post_path(@page, post)
