.row
  .col-xs-12.col-sm-12.col-md-12
    %h2.text-center
      Page Demographics
.row
  .col-xs-10.col-sm-10.col-md-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1
    %h3.text-center
      Location distribution

  .col-xs-12.col-sm-6.col-md-4
    Fans from
    = @page.city_fans.pluck(:country).uniq.count
    countries

    = render partial: 'shared/graph', locals: { graph_type: 'column_chart', data: @country_fans, id: 'demographics_country'}
    = semantic_form_for '', url: make_graph_path do |f|
      = f.input 'graph_type_fans_per_country', collection: YAML::load(ENV['graph_types']),
                                               include_blank: false

  .col-xs-12.col-sm-6.col-md-4
    Fans from
    = @page.city_fans.pluck(:municipality).uniq.count
    cities

    = render partial: 'shared/graph', locals: { graph_type: 'column_chart', data: @city_fans, id: 'demographics_city'}
    = semantic_form_for '', url: make_graph_path do |f|
      = f.input 'graph_type_fans_per_city', collection: YAML::load(ENV['graph_types']),
                                               include_blank: false, hint: 'Select a multiple series chart to view the data per country.'

  .col-xs-12.col-sm-6.col-md-4
    = render partial: 'shared/graph', locals: { graph_type: 'column_chart', data: @age_fans, id: 'demographics_age'}
    = semantic_form_for '', url: make_graph_path do |f|
      = f.input 'graph_type_fans_per_age', collection: YAML::load(ENV['graph_types']),
                                           include_blank: false

:javascript

  $('select#graph_type_fans_per_age').change( function() {
    var graph_type = $('#graph_type_fans_per_age option:selected').val();


    var page_id = "#{@page.object_id}";
    var url = "#{renew_fans_path}";

    $.ajax({
      type: 'POST',
      url: url,
      data: { graph_type: graph_type,
              page_id: page_id,
              groupping: 'age',
              graph_id: 'demographics_age' },
      dataType: 'script'
    });
  });

  $('select#graph_type_fans_per_country').change( function() {
    var graph_type = $('#graph_type_fans_per_country option:selected').val();


    var page_id = "#{@page.object_id}";
    var url = "#{renew_fans_path}";

    $.ajax({
      type: 'POST',
      url: url,
      data: { graph_type: graph_type,
              page_id: page_id,
              groupping: 'country',
              graph_id: 'demographics_country' },
      dataType: 'script'
    });
  });

  $('select#graph_type_fans_per_city').change( function() {
    var graph_type = $('#graph_type_fans_per_city option:selected').val();


    var page_id = "#{@page.object_id}";
    var url = "#{renew_fans_path}";

    $.ajax({
      type: 'POST',
      url: url,
      data: { graph_type: graph_type,
              page_id: page_id,
              groupping: 'city',
              graph_id: 'demographics_city' },
      dataType: 'script'
    });
  });
