.row
  .col-xs-12.col-sm-12.col-md-12
    %h2
      Page Demographics
.row
  .col-xs-10.col-sm-10.col-md-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1
    %dl.dl-horizontal#general-stats
      %dt Fans:
      %dd= @page_fans_count
    = link_to 'Get fans per city', page_fans_city_path(@page), class: 'btn btn-warning'
    = link_to 'Get fans per gender and age', page_fans_age_path(@page), class: 'btn btn-warning'

    Fans from
    = @page.city_fans.pluck(:country).uniq.count
    countries

    = pie_chart @fans_gender_age if @fans_gender_age
    = column_chart @city_fans
    = render partial: 'home/graph', locals: { graph_type: 'line_chart', data: @age_fans[:data], id: 'demographics_age'}
    = semantic_form_for '', url: make_graph_path do |f|
      = f.input 'age_graph_type', collection: YAML::load(ENV['graph_types']),
                              include_blank: false

    -# = link_to 'Register webhooks', "https://graph.facebook.com/v2.11/#{@page.object_id}/subscribed_apps?access_token=#{@access_token}", method: :post
    .btn-group
      = link_to 'Refresh posts', facebook_data_path(object: 'posts'), class: 'btn btn-warning'
      = link_to 'Refresh events', facebook_data_path(object: 'events'), class: 'btn btn-warning'
      = link_to 'Refresh all data', facebook_data_path(), class: 'btn btn-warning'
      = link_to 'Refresh fans data', facebook_data_path(object: 'fans', page_id: @page), class: 'btn btn-warning'

    .btn-group.pull-right
      = link_to 'Refresh Page Stats', '#', class: 'btn btn-primary'

:javascript

  $('select#age_graph_type').change( function() {
    var graph_type = $('#age_graph_type option:selected').val();


    var page_id = "#{@page.object_id}";
    var url = "#{renew_age_fans_path}";

    $.ajax({
      type: 'POST',
      url: url,
      data: { graph_type: graph_type,
              page_id: page_id,
              graph_id: 'demographics_age' },
      dataType: 'script'
    });
  });
