%hr.bold

= semantic_form_for '', url: make_overall_graph_path(page_id: @page&.object_id), html: { id: 'overall-form' } do |f|
  .col-md-4
    = f.label "Object (If you select 'all', you need to select a multiple series chart)"
    = f.input 'x_axis', collection: YAML::load(ENV['object_options']),
                        label: false,
                        include_blank: false,
                        selected: :posts
  .col-md-4
    = f.label 'Group parameter'
    = f.input 'y_axis', collection: YAML::load(ENV['group_options']),
                        label: false,
                        include_blank: false,
                        selected: 'month'
  .col-md-4
    = f.input 'graph_type', collection: YAML::load(ENV['graph_types']),
                            include_blank: false,
                            selected: 'doughnut_chart'
  .col-md-4
    = f.label 'From'
    = f.input 'from', as: :string,
                      label: false,
                      input_html: { id: 'datepicker-graph-from' },
                      hint: '(Optional) Limit the results to only include data from this date on.'
  .col-md-4
    = f.label 'To'
    = f.input 'to', as: :string,
                    label: false,
                    input_html: { id: 'datepicker-graph-to' },
                    hint: '(Optional) Limit the results to only include data to this date.'
  .col-md-4
    = f.label 'Period'
    = f.input 'period', label: false, collection: YAML::load(ENV['period_options']).map{ |period| [period, period.parameterize.underscore, data: find_date(period) ]},
                                      include_blank: false,
                                      selected: 'last_3_months'
  .col-md-12
    = f.submit 'Make Graph!', class: 'btn btn-primary'

  .col-md-12
    = render partial: 'shared/graph', locals: { data: @result[:data] }

:javascript
  $(document).ready(function() {
    set_dates($('form#overall-form select#period option:selected'));

    function set_dates(selected) {
      var from = selected.data('from');
      var to = selected.data('to');

      $('form#overall-form #datepicker-graph-from').val(from);
      $('form#overall-form #datepicker-graph-to').val(to);
    }

    $('form#overall-form select#period').change(function(){
      var selected = $('form#overall-form select#period option:selected');
      set_dates(selected);
      var from = $('form#overall-form #datepicker-graph-from').val();
      var to = $('form#overall-form #datepicker-graph-to').val();

      var url = "#{make_graph_path(page_id: @page.object_id)}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();
      var page_id = "#{@page.object_id}";

      if (y_axis != '' && graph_type !='') {
        $.ajax({
          type: 'POST',
          url: '/make_overall_graph',
          data: { graph_type: graph_type,
                  page_id: page_id,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to},
          dataType: 'script'
        });
      }
    });

    $('select#x_axis').change( function() {
      var key = $('#x_axis option:selected').val();

      if(key == 'all') {
        $('form#overall-form select#graph_type').val('multiple_series_line_chart')
      }

      // $.ajax({
      //   type: 'GET',
      //   url: '/values_for_analytics_option',
      //   data: { key: key },
      //   dataType: 'script'
      // });
    });

    $('select#graph_type').change( function() {
      var url = "#{make_graph_path(page_id: @page.object_id)}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (x_axis != '' && y_axis !='') {
        var from = $('#datepicker-graph-from').val();
        var to = $('#datepicker-graph-to').val();
        var page_id = "#{@page.object_id}";

        $.ajax({
          type: 'POST',
          url: '/make_overall_graph',
          data: { graph_type: graph_type,
                  page_id: page_id,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });

    $('select#x_axis').change( function() {
      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (y_axis != '' && graph_type !='') {
        var from = $('form#overall-form #datepicker-graph-from').val();
        var to = $('form#overall-form #datepicker-graph-to').val();
        var page_id = "#{@page.object_id}";

        $.ajax({
          type: 'POST',
          url: '/make_overall_graph',
          data: { graph_type: graph_type,
                  page_id: page_id,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });

    $('select#y_axis').change( function() {
      var url = "#{make_graph_path}";
      var x_axis = $('#x_axis option:selected').val();
      var y_axis = $('#y_axis option:selected').val();
      var graph_type = $('#graph_type option:selected').val();

      if (x_axis != '' && graph_type !='') {
        var from = $('#datepicker-graph-from').val();
        var to = $('#datepicker-graph-to').val();
        var page_id = "#{@page.object_id}"

        $.ajax({
          type: 'POST',
          url: '/make_overall_graph',
          data: { graph_type: graph_type,
                  page_id: page_id,
                  x_axis: x_axis,
                  y_axis: y_axis,
                  from: from,
                  to: to },
          dataType: 'script'
        });
      }
    });
  });
