- kind = kind || 'all'

= render partial: 'pages/graph', locals: { kind: kind, category: category }
.col-md-4.col-md-offset-4.text-center
  = semantic_form_for :chart, remote: true do |f|
    = f.hidden_field 'graph_data', value: @trending_graph_data, id: "chart_graph_data_#{kind}"
    = f.input 'graph_type', label: false,
                            collection: YAML::load(ENV['graph_types']).map{ |graph| [graph,
                                                                                     graph,
                                                                                     data: { kind: kind,
                                                                                             category: category } ]},
                            include_blank: false,
                            selected: 'pie_chart'
