.row
  .col-md-12
    .page-header
      .row
        .col-md-4.col-md-offset-4
          %h1.text-center
            = @page.name

          .text-muted.text-center
            = link_to "https://facebook.com/#{@page.object_id}", "https://facebook.com/#{@page.object_id}"

        .col-md-4
          .pull-right
            %br
            .btn-group
              - if @page&.posts&.any?
                = link_to 'Your Posts', page_posts_path(@page.object_id), class: 'btn btn-primary'
              - else
                %button.btn.btn-default.disabled
                  No Posts

              - if @page.events.any?
                = link_to 'Your Events', page_events_path(@page), class: 'btn btn-primary'
              - else
                %button.btn.btn-default.disabled
                  No Events

              - if Reaction.select{ |reaction| reaction.reactionable.page == @page }.any?
                = link_to 'User Engagement', page_reactions_path(@page), class: 'btn btn-primary'
              - else
                %button.btn.btn-default.disabled
                  No Reactions

.row.row-eq-height
  - items = [:post, :reaction, :event]
  - items_count = 0
  - items.each do |item|
    - items_count += 1 unless @page.send(item.to_s.pluralize).any?

  %div
    .col-md-2.col-md-offset-1.text-center

      - if @page.posts.any?
        .panel.panel-primary
          .panel-heading
            %h3.link-white-color
              = link_to new_page_post_path(@page.object_id) do
                Update
                %br
                your posts

      - else
        .panel.panel-warning
          .panel-heading
            %h2.link-white-color
              = link_to 'Get your posts', new_page_post_path(@page.object_id)
          .panel-body
            Download all the posts
            %br
            of your Facebook page

    .col-md-2.text-center
      - if Reaction.select{ |reaction| reaction.reactionable.page == @page }.any?
        .panel.panel-primary
          .panel-heading
            %h3.link-white-color
              = link_to new_page_reaction_path(@page) do
                Update
                %br
                the reactions

      - else
        .panel.panel-warning
          .panel-heading
            %h3.link-white-color
              = link_to 'Get the reactions', new_page_reaction_path(@page)
          .panel-body
            Download all the reactions to the posts
            of your Facebook page

    .col-md-2.text-center
      - if @page.events.any?
        .panel.panel-primary
          .panel-heading
            %h3.link-white-color
              = link_to new_page_event_path(@page) do
                Update
                %br
                your events

      - else
        .panel.panel-warning
          .panel-heading
            %h3.link-white-color
              = link_to 'Get your events', new_page_event_path(@page)
          .panel-body
            Download all the events
            %br
            of your Facebook page
    .col-md-2.text-center
      - if @page.city_fans.any?
        .panel.panel-primary
          .panel-heading
            %h3.link-white-color
              = link_to page_fans_city_path(@page) do
                Update
                %br
                your fans' location info

      - else
        .panel.panel-warning
          .panel-heading
            %h3.link-white-color
              = link_to 'Get your fans location info', page_fans_city_path(@page)
          .panel-body
            Download the location information
            %br
            of all your fans

    .col-md-2.text-center
      - if @page.age_fans.any?
        .panel.panel-primary
          .panel-heading
            %h3.link-white-color
              = link_to page_fans_age_path(@page) do
                Update
                %br
                your fans' age/gender info

      - else
        .panel.panel-warning
          .panel-heading
            %h3.link-white-color
              = link_to 'Get your fans age/gender info', page_fans_age_path(@page)
          .panel-body
            Download the age/gender information
            %br
            of all your fans
%hr
= render partial: 'demographics'

.row
  .col-md-12.text-center
    %br
  - if @page && @page.posts.any?
    %hr
    = render partial: 'content_statistics'
    = render partial: 'overall_activity_chart'
