.row
  .col-md-8.col-md-offset-2.text-center
    %h1
      Trending
      - if kind == 'status'
        Status
      - else
        = kind.capitalize.pluralize
    %h3.text-muted
      Your top 3 posts

    - posts_reactions = posts_max_reactions(kind)

    - posts_reactions.each.with_index(1) do |post, index|
      .col-md-4.text-center
        .panel.panel-green
          .panel-heading
            - index.times do
              .fa.fa-star
            %br
            = truncate(post.message, length: 150)
          .panel-footer
            = link_to 'More info', page_post_path(@page, post), class: 'pull-right'

            .pull-left
              with
              = pluralize(post.reactions&.count, 'reaction')
            %br

.row
  .col-md-12
    .text-center
      %br
      - text = kind == 'status' ? 'status updates' : kind.pluralize
      = link_to "All #{text}", page_posts_path(@page, kind: kind, anchor: 'list'), class: 'btn btn-success'
.row
  .col-md-4.col-md-offset-4
    %hr.bold
.row
  .col-md-12
    %h1.text-center
      Your
      - if kind == 'status'
        status updates
      - else
        = kind.capitalize.pluralize
      with the most reactions

  = render partial: 'shared/posts_list', locals: { posts_max_reaction: posts_per_max_reaction(kind) }

.row
  .col-md-4.col-md-offset-4
    %hr.bold

.row
  .col-md-8.col-md-offset-2.text-center
    %h1.text-center
      Total reactions for
      - if kind == 'status'
        status updates
      - else
        = kind.capitalize.pluralize

    %h3
      %i{ class: "fa #{icon_for('like')}" }
      %i{ class: "fa #{icon_for('love')}" }
      %i{ class: "fa #{icon_for('haha')}" }
      %i{ class: "fa #{icon_for('wow')}" }
      %i{ class: "fa #{icon_for('sad')}" }
      %i{ class: "fa #{icon_for('angry')}" }

= render partial: 'shared/content_graphs', locals: { data: @trending_graph_data[kind.to_sym], kind: kind }
