.col-xs-12.col-md-12
  %div{ role: 'tabpanel' }
    #pills.nav-center
      %ul.text-center.nav.nav-pills{ role: 'tablist' }
        %li.active{ role: 'presentation' }
          %a{ href: '#trending-all', 'aria-controls': 'trending-posts', 'data-toggle': 'tab', role: 'tab' } All
        - @kinds.each do |kind|
          %li{ role: 'presentation' }
            %a{ href: "#trending-#{kind}", 'aria-controls': 'trending-posts', 'data-toggle': 'tab', role: 'tab' }
              = kind.capitalize

    .tab-content
      .tab-pane.active#trending-all{ role: 'tabpanel'}
        = render partial: 'trending_all'
      - @kinds.each do |kind|
        .tab-pane{ id: "trending-#{kind}", role: 'tabpanel'}
          = render partial: 'trending_posts', locals: { kind: kind }
