.row
  .col-md-12
    .page-header
      %h1.text-center
        = @kind&.capitalize
        Posts
      .text-center
        .btn-group
          = link_to page_posts_path(@page), class: "btn btn-warning" do
            Total
            .badge
              = @posts.count
          - @kinds.each do |kind|
            = link_to page_posts_path(@page, kind: kind, anchor: 'list'), class: "btn btn-#{posts_count_class(@posts, kind)}" do
              = kind.capitalize
              .badge
                = @posts.send(kind).count

.row
  .col-xs-12.col-md-12
    %div{ role: 'tabpanel' }
      #tabs.nav-center
        %ul.text-center.nav.nav-tabs{ role: 'tablist' }
          %li.active{ role: 'presentation' }
            %a{ href: '#trending', 'aria-controls': 'trending', 'data-toggle': 'tab', role: 'tab' }
              Trending
          %li{ role: 'presentation' }
            %a{ href: '#list', 'aria-controls': 'list', 'data-toggle': 'tab', role: 'tab' }
              All
      .tab-content
        .tab-pane.active#trending{ role: 'tabpanel'}
          .row
            .col-xs-12.col-md-12
              %div{ role: 'tabpanel' }
                = render partial: 'trending'

        .tab-pane#list{ role: 'tabpanel'}
          .row
            .col-md-12
              %table.table.table-hover.table-bordered.table-striped.datatable#posts
                %thead
                  %th Reactions
                  %th Title
                  %th Kind
                  %th ID (Facebook)
                  %th Actions

                %tbody
                  - @posts.each do |post|
                    %tr
                      %td{ 'data-order' => post.reactions.count }
                        = post.reactions.count
                        Total Reactions
                        %br
                        - posts_reactions = post.reactions.group(:name).count
                        - Reaction::KINDS.each do |reaction|
                          %i{ class: "fas #{icon_for(reaction)}" }
                          = posts_reactions[reaction] || 0
                          = reaction

                      %td.col-md-6= truncate(post.message, length: 200) || post.story
                      %td= post.kind.capitalize
                      %td= post.object_id
                      %td
                        = link_to 'Show', page_post_path(@page, post), class: 'btn btn-success'
                        = link_to 'Destroy', page_post_path(@page, post), method: :delete, class: 'btn btn-danger', confirm: "Are you sure you want to delete the post #{post.message}?"
