.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .navbar-header.fullwidth
    %button.navbar-toggle{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar' }
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  #navbar.navbar-collapse.collapse{ 'aria-expanded' => 'true' }
    %ul.nav.navbar-nav
      %li= link_to "© 2018 More Facebook Analytics by Stella Rouzi", "#{current_page?(root_path) ? '#' : root_path}", class: 'navbar-brand'

    %ul.nav.navbar-nav
      %li
        = link_to contact_path, title: 'stella.rouzi@gmail.com' do
          %i.fas.fa-envelope-open
          Contact
      %li
        = link_to recommend_path, title: 'Send an email about this Demo Rails App' do
          %i.fas.fa-star
          Recommend us!
      %li
        = link_to 'https://www.facebook.com/',  target: '_blank', title: 'Visit our Facebook page' do
          %i.fas.fa-thumbs-up
          %i.fab.fa-facebook-square

          .fb-like{ 'data-href' => 'https://www.facebook.com/', 'data-layout' => 'button', 'data-action' => 'like', 'data-size' => 'small', 'data-show-faces' => 'true', 'data-share' => 'true' }
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li= link_to 'Sign out', users_sign_out_path, method: :delete
        %li= link_to 'Profile', edit_user_path(current_user)
        %li.dropdown
          %a.dropdown-toggle{ style: 'font-weight: bold', "data-toggle" => "dropdown", :href => "#", id: 'user-menu'  }
            Your projects
            %span.caret
          %ul.dropdown-menu
            - current_user.pages.each do |page|
              %li
                = link_to page.name, page_path(page.object_id), class: "#{'highlight' if @page == page }"
            %li.divider
            %li= link_to 'Update Pages', user_get_pages_path(current_user)

      - else
        - provider = 'facebook'
        %li
          = link_to "/user/auth/#{provider}",
            id: "omniauth-#{provider}", title: provider do
            Sign in with
            %i{ class: "fab fa-#{provider}"}
